.car-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}

.car-box {
  width: 30%;
  min-width: 280px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.car-box:hover {
  transform: translateY(-10px);
}

.car-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.car-details {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
}

.fas {
  margin-right: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blue-btn {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  color: white;
  background-color: rgb(58, 170, 207);
}

.red-btn {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  color: white;
  background-color: #f44336;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  padding-top: 15px;
}

.button-row button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.form-container-main {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  background-color: lightgray;
  padding: 25px;
  position: relative;
  margin-bottom: 5%;
  border-radius: 10px;
}

.form-container-add {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  margin-left: 10%;
  /* margin: 0 auto; */
  /* background-color:blue */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  /* background-color: red; */
  /* width: 50%; */
  /* height: 100%; */
  position: absolute;
  right: 10px;
  bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
